.App {
  position: relative;
}

.Scroller {
  position: absolute;
  left: 0;
  width: 100%;
  /*transition: top 1s ease;*/
}

.Scroller[data-showplayerholder="0"] {
  top: -100vh;
}

.Scroller[data-showplayerholder="1"] {
  top: 0vh;
}

.Player-Container {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cover-Container {

}

.Cover {
  float: left;
  width: 50%;
  height: 400px;
  position: relative;
  cursor: pointer;
}

.Cover-Image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}
